@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/PretendardVariable.woff2') format('woff2-variations');
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Pretendard Variable';
}

.select__list {
	border: 1px solid #cbccd2;
	border-radius: 0.5rem;
	overflow: hidden;
	width: 12rem;
	height: 2rem;
}
.select__list select {
	width: 100%;
	height: 100%;
	appearance: none;
	padding-inline: 1rem;
	cursor: pointer;
	background: url('../assets/images/chevron-down.svg');
	background-repeat: no-repeat;
	background-position-x: 90%;
	background-position-y: center;
}
.select__list select:focus {
	outline: none;
}
.select__list select:disabled {
	/* color: #cbccd2; */
	background-color: #d9d9d9;
}

.border__custom {
	border: 1px solid red;
}

/* 위에서 아래로 */
@keyframes appearFromTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(8px);
	}
}
@keyframes appearFromTopSm {
	from {
		transform: translateY(46%);
	}
	to {
		transform: translateY(40%);
	}
}

#main-coin {
	animation: appearFromTop 1.5s ease-in infinite alternate;
}

#side-coin-1 {
	animation: appearFromTop 3s ease-in infinite alternate;
}

#side-coin-2 {
	animation: appearFromTopSm 2s ease-in infinite alternate;
}

#side-coin-3 {
	animation: appearFromTop 3s ease-in infinite alternate;
}

.highlight::before {
	display: block;
	content: '';
	background-color: #fbd373;
	width: 100%;
	height: 0.875rem;
	position: absolute;
	bottom: 0;
	z-index: -1;
}
